@import "../Colors/colors.scss";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

.input-container {
  .input {
    border-radius: 2px;
    padding: 4px 12px 4px 12px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    box-sizing: border-box;
    font-family: "IBM Plex Sans", sans-serif;

    // STATE
    &-rest {
      background-color: $gray25;
      color: $gray500;
      border: none;
    }

    &-focused {
      border: 1px solid $gray200;
      background-color: $gray0;
      color: $gray700;
    }

    &-error {
      border: 1px solid $danger-tint02;
      background-color: $gray0;
      color: $gray700;
    }

    &-valid {
      border: 1px solid $safe-tint03;
      background-color: $gray0;
      color: $gray700;
    }

    // EXTRA COMPONENT
    &-input-label {
      margin-bottom: 4px;
      color: $gray700;
      font-weight: 500;
      font-size: 12px;
      line-height: 16px;
      font-family: "IBM Plex Sans", sans-serif;
    }

    &-bottom-text {
      &-focused,
      &-valid,
      &-rest {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        font-family: "IBM Plex Sans", sans-serif;
        color: $gray600;
        margin-top: 4px;
        padding-left: 12px;
      }

      &-error {
        font-size: 10px;
        font-weight: 400;
        line-height: 12px;
        font-family: "IBM Plex Sans", sans-serif;
        color: $danger-tint02;
        margin-top: 4px;
        padding-left: 12px;
      }
    }
  }
}
