@import "../../sass-modules/colors";
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&display=swap");

.component-container {
  &.icon {
    .sub-component-container {
      background-color: $gray100;
    }
  }

  &.text-icon {
    .sub-component-container {
      background-color: $gray50;
    }
  }

  .sub-component {
    display: inline-flex;
    flex-direction: row;
    vertical-align: middle;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 500;
    font-size: 12px;
    align-items: center;
    background-color: transparent;
    color: $gray700;

    &-icon {
      margin-right: 4px;
      vertical-align: middle;
    }

    &-container {
      padding: 4px 8px;
      box-sizing: border-box;
    }
  }
}
