@import "../../sass-modules/colors";

.component-layout {
  background-color: $safe-tint02;
  height: 180px;

  &.one-content {
    width: 992px;
  }

  &.two-content {
    width: 488px;
  }

  &.four-content {
    width: 236px;
  }
}
